

 //style for greeting
 .greeting {
     margin-top: 42px;

     .tittle__greeting {

         margin-bottom: 12px;
     }

     .text__greeting {
         p {
             margin-top: 5px;
             margin-bottom: 5px;

             a {
                 color: #222;
             }
         }
     }
 }

 //style địa điểm
 .sites {
     .tittle__sites--text {
         font-family: $main__font-family;
     }

     .tittle__sites {
         margin-top: 42px;
         font-family: $main__font-family;
     }
 }

 // style of slick-carousel slider